OTM_DATABASE_URL=postgresql://otm:omguseotm@localhost:5432/otm
OTM_PROJECT_URL=localhost:3000

NEXT_PUBLIC_API_URL=https://osstag-api.vercel.app
API_SERVER_URL=https://osstag-api.vercel.app

OSSTAG_DASHBOARD_ORIGIN=http://localhost:3000

OTM_UPSTASH_REDIS_REST_URL=your-upstash-redis-rest-url
OTM_UPSTASH_REDIS_REST_TOKEN=your-upstash-redis-rest-toke 

VERCEL_ENV=development
NEXT_PUBLIC_VERCEL_ENV=development

NEXT_PUBLIC_OTM_RELAY_URL=http://localhost:8787/collect
NEXT_PUBLIC_OTM_PREVIEW_FLAG=otm_preview

BETTER_AUTH_SECRET=superlongrandomsecretstringofatleast32chars

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

GITHUB_TOKEN=ghp_********************************
OSSTAG_MARKETING_LOCK=0